@{
    Layout = "~/Views/Shared/ComputerLayout.cshtml";
}
@model IEnumerable<ProductSpecification>
@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
    </script>
}
<div class="productDetails mt-5 border-0 shadow">
        <div class="productCointainer row" style="width: 95%; margin: auto;">
            <div id="carouselExampleIndicators" class="containerLeft col-8 row carousel slide mt-2">
                <div class="row d-flex flex-column col-4 gap-3">
                    <div class="mt-2 rounded">
                    <img data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1" class="img-fluid border-0 shadow rounded" src="@ViewBag.product.Image1" alt="" style="cursor: pointer; width: 150px; height: 150px">
                    </div>
                    <div class="mt-2 rounded">
                    <img data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class="img-fluid border-0 shadow" src="@ViewBag.product.Image2" alt="" style="cursor: pointer; width: 150px; height: 150px">
                    </div>
                    <div class="mt-2 rounded">
                    <img data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" class="img-fluid border-0 shadow" src="@ViewBag.product.Image3" alt="" style="cursor: pointer; width: 150px; height: 150px">
                    </div>
                </div>
                <div class="col-8 carousel-inner" style="width: 550px; height: 575px;">
                    <div class="carousel-item active">
                        <img class="img-fluid" src="@ViewBag.product.Image1" alt="" style="width: 100%; height: auto;">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid" src="@ViewBag.product.Image2" alt="" style="width: 100%; height: auto;">
                    </div>
                    <div class="carousel-item">
                        <img class="img-fluid" src="@ViewBag.product.Image3" alt="" style="width: 100%; height: auto;">
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <i class="fa-solid fa-angle-left" style="color: red; font-size: 40px;"></i>
                        <span class="visually-hidden text-danger">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <i class="fa-solid fa-angle-right" style="color: red; font-size: 40px;"></i>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        
                <div class="col-4">
                <h4 class="col">@ViewBag.product.Name</h4>
                <div class="border rounded p-2 col bg-secondary-subtle shadow">
                    <h5>Thông số sản phẩm</h5>
                    @if (ViewBag.product.Description != null)
                    {
                        <p>- @ViewBag.product.Description</p>
                    }
                    @foreach(var p in ViewBag.specification)
                    {
                        <p>- @p.Specification.SpecificationName: @p.SpecificationValue</p>
                    }
                </div>
                <div class="col mt-2">
                    <p class="fs-4">Giá: <span class="fw-bold">@ViewBag.product.Price.ToString("N0") đ</span></p>
                    <div class="d-flex flex-wrap">
                        <div class="bg-warning-subtle" style="margin-right: 0.5rem;"><p>Giá đã bao gồm VAT</p></div>
                        <div class="bg-warning-subtle"><p>Bảo hành: 12 tháng</p></div>
                    </div>
                </div>
                <div class="col mt-2 d-flex justify-content-between">
                    <a class="btn btn-primary d-flex justify-content-center align-items-center" style="width: 71%;"><p class="m-0">Mua ngay</p></a>
                    <a asp-controller="Order" asp-action="AddToCart" asp-route-productId=@ViewBag.product.ProductId class="btn btn-outline-success" style="width: 105px;"><i class="fa-solid fa-cart-shopping"></i> <p class="m-0" style="font-size: small;">Thêm vào giỏ</p></a>
                </div>
                <div class="col mt-2 mb-2">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-list-check"></i> Thông số kĩ thuật</button>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Thông số kĩ thuật</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <table class="table table-striped">
                                        @foreach(var m in Model)
                                        {
                                            <tr>
                                                <td>@m.Specification.SpecificationName</td>
                                                <td>@m.SpecificationValue</td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
</div>
<div class="relativeProducts mt-5" style="width: 90%; margin: auto;">
    <h4>Sản phẩm tương tự</h4>
    <div class="productItems">
        @foreach(var i in ViewBag.relativeproduct)
        {
            <div class="item">
                <a href="#">
                    <img src="@i.Image1" height="190px" alt="" />
                </a>
                <div class="detail">
                    <p>
                        @i.Name
                    </p>
                </div>
                <div class="price"><p>@i.Price.ToString("N0") đ</p></div>
                <div class="state mb-2">
                    <div class="d-flex">
                        <p>Còn hàng</p>
                        <a asp-controller="Product" asp-action="ProductDetail" asp-route-productId=@i.ProductId style="width: 51px">
                            <button style="width: 50px; background-color: red; border:none">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
